In [2]:
# import required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
input_path = r'C:/Users/Aman singh/Desktop/Grow Data Skills/Data Science PROJECT Bootcamp-Recorded/Projects/Project-1-Solar_Energy_forecasting/final_forecast/training_data/'

In [4]:
data = pd.read_csv(input_path+'Sample_data.csv')

In [9]:
data.head()

    GHI  Temperature  Wind_speed  Generation
0   0.0      16.2226     1.45655        0.00
1   0.0      18.6868     1.31287        0.00
2   0.0      18.4972     1.46320        0.00
3  10.0      18.3232     1.74765        3.28
4  13.5      18.1806     1.83621        3.28

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GHI          97 non-null     float64
 1   Temperature  97 non-null     float64
 2   Wind_speed   97 non-null     float64
 3   Generation   97 non-null     float64
dtypes: float64(4)
memory usage: 3.2 KB

In [11]:
data.describe()

              GHI  Temperature  Wind_speed  Generation
count   97.000000    97.000000   97.000000   97.000000
mean   180.820258    16.894658    4.865549   35.095464
std    244.984531     0.721748    1.776699   46.632900
min      0.000000    15.873900    0.824520    0.000000
25%      0.000000    16.170500    3.858680    0.000000
50%      0.000000    17.048200    5.338260    3.280000
75%    354.149000    17.326600    6.229720   68.880000
max    681.976000    18.686800    8.048320  129.600000

In [12]:
data.corr()

                  GHI  Temperature  Wind_speed  Generation
GHI          1.000000    -0.598727   -0.343285    0.981984
Temperature -0.598727     1.000000   -0.270925   -0.686589
Wind_speed  -0.343285    -0.270925    1.000000   -0.249819
Generation   0.981984    -0.686589   -0.249819    1.000000

In [1]:
# Create a scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(data['GHI'], data['Generation'], label='GHI vs Generation', color='red')
plt.scatter(data['Temperature'], data['Generation'], label='Temperature vs Generation', color='blue')
plt.scatter(data['Wind_speed'], data['Generation'], label='Wind Speed vs Generation', color='green')

# Add labels and title
plt.xlabel('Variables')
plt.ylabel('Generation')
plt.title('Scatter Plot: GHI, Temperature, Wind Speed vs Generation')
plt.legend()

# Show the plot
plt.grid(True)
plt.show()

NameError: name 'plt' is not defined